# Folder with objects
# objects/
# downloaded_objects/
# fetched_objects/


# Map
*.npy
*.bag

# Photos
*.jpg
*.jpeg
*.png


# Pickle files
*.pkl

# Environments
.env
.venv
venv/
env/

.idea
__pycache__/