# Folder with objects
objects/maps/
# downloaded_objects/
# fetched_objects/
map_storage/


# Map
*.npy
*.bag
*.zip

# Photos
*.jpg
*.jpeg
*.png

# Pickle files
*.pkl

# Environments
.env
.venv
venv/
env/
.vscode/

.idea
__pycache__/

test*.sh
